<p>Hallo {{name}}!</p>
<p>Für Dein Nutzerkonto wurde ein temporäres Passwort angefordert. Du kannst
  Dich innerhalb der nächsten 24 Stunden mit dem folgenden Passwort anmelden:
</p>

<h4>
  {{password}}
</h4>

<p>
  <a href='{{url}}'>Zum Doleo-Login</a>
</p>

<p>Du hast überhaupt kein temporäres Passwort angefordert? Dann kannst Du diese
  Email ignorieren. ☺️</p>